/* COLORS FOR LATER USE:
nice teal #4db6ac
nic red #ef5350
gray bg eceff1
*/

/* reset defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    background: #eceff1;
  }

div {
  border-radius: 3px;
  background: white;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  padding: 5px 15px;
  width: calc(100% - 30px);
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 100;
  margin-right: auto;
}

.button-container {
  display: flex;
  padding-right: 10px;
}

.button {
  font-size: 20px;
  background: #ef5350;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  text-align: center;
  width: 90px;
  padding: 5px 0px;
  margin-left: 15px;
}

/* CARD DROP SHADOWS incl. hover action */
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white;
    cursor: pointer;
  }
  .card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

/* Media Breaks */
@media screen and (max-width: 713px) {
  .logo {
    font-size: 30px;
  }
  .button-container {
    margin: 5px;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    justify-content: space-around;
  }

  .logo {
    margin: auto;
    }
}

@media screen and (max-width: 358px) {
  .button-container {
    padding: 0px;
  }
  .button {
    font-size: 14px;
    margin: 0 2px;
    width: 25vw;
  }
}

/*
  .navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    margin: 15px;
    background: white;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-end;
  }

  .button-container{
    display: flex;
    margin-right: 15px;
  }

  .button {
    background: #ef5350;
    padding: 8px;
    margin: 1vw 1vw 1vw 1vw;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    text-align: center;
    min-width: 4rem;
    }

  .logo {
    font-size: 48px;
    font-weight: 100;
    padding: 5px 5px 5px 5px;
    margin-right: auto;
    margin-left: 15px;
  }

  .banner {
    position: absolute;
    background-image: url("http://brendanmc6.github.io/8775428119_af18975128_o.jpg");
    background-origin: content-box;
    background-size: cover;
    background-position: 0 92%;
    height: 30%;
    width: 100%;
    }

  @media screen and (max-width: 690px) {
    .logo {
      font-size: 30px;
    }
    .button-container {
      margin: 5px;
    }
  }

  @media screen and (max-width: 550px) {
    body {
      background: green;
    }

    .navbar {
      justify-content: space-around;
    }

    .button {
      padding: 2vw 1vw;
    }

    .logo {
      margin: auto;
      }
  }

  @media screen and (max-width: 320px) {
    body {
      background: red;
    }
  }

  */
