/* COLORS FOR LATER USE:
nice teal #4db6ac
nic red #e57373
gray bg #eceff1
*/

/* reset defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
  }

html {
  overflow-y: scroll;
}

body {
  background: #eceff1;
}

div {
  border-radius: 3px;
  background: white;
}

.banner {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  margin: 15px;
  padding: 5px 15px;
  width: calc(100% - 30px);
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.banner-image {
  position: fixed;
  height: 300px;
  width: 100%;
  background-image: url(./Images/bannerphoto1.jpg);
  background-size: cover;
  background-position: 0% 85%;
  z-index: 0;
}

/* logo font is fixed on all devices */
.logo {
  font-size: 48px;
  font-weight: 100;
}

.button-container {
  display: flex;
}

.button-container > a {
  text-decoration: none;
  color: black;
}

.button {
  font-size: 1.25rem;
  background: #e57373;
  text-align: center;
  width: 90px;
  padding: 5px 0px;
  margin-right: 15px;
}

.container {
  display: flex;
  position: relative;
  top: 90px;
  background: none;
}

.column {
  background: none;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15px;
}

.left {
  width:40%;
  min-width: 470px;
  align-items: flex-end;
}

.right {
  width: 60%;
  top: 150px;
}

.profile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 440px;
  height: 210px;
  z-index: 4;
  padding: 15px;
  margin: 15px;
}

.profile-photo {
  width: 42%;
  height: 100%;
  overflow: hidden;
  background-image: url(./Images/selfie.jpg);
  background-size: cover;
  background-position: left bottom;
}

.profile-content-container {
  display: flex;
  flex-wrap: wrap;
  width: 58%;
  height: 100%;
  background: none;
  padding-left: 3px;
}

.profile-text-left {
  font-weight: bold;
  text-align: right;
  width: 25%;
  height: 60%;
  line-height: 2.2;
  background: none;
}

.profile-text-right {
  width: 75%;
  height: 60%;
  line-height: 2.2;
  background: none;
  padding-left: .5rem;
  overflow: visible;
}

.profile-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40%;
  margin-top: 10px;
  margin-left: 10px;
}

.fa {
  border-radius: 6px;
  height: 25px;
}

.fa-linkedin-square:before {
    font-size: 30px;
    color: #e57373;
    border-radius: 10px;
}

.profile-button {
    font-size: 18px;
    background: #e57373;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    text-align: center;
    padding: 5px 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 92.75%;
  max-width: 500px;
  margin: 15px;
}

.content-banner {
  font-size: 24px;
  padding: 10px 15px;
  width: 100%;
  background-color: #4db6ac;
  border-radius: 3px 3px 0px 0px;
}

.content-text {
  padding: 15px;
}

summary {
  font-size: 1.3rem;
  border-bottom: 1px solid #CCC;
  padding: 15px;
}

i.material-icons {
  position: relative;
  top: 4px;
  margin-right: 15px;
  font-size: 22px;
  align-self: center;
  color: #CCC;
}

summary:hover i.material-icons {
  color: #e57373;
}

summary:hover {
  background-color: #eceff1;
  border-radius: 5px;
}

summary:focus {
  outline: none;
}

details summary:after {
    color: #9e9e9e;
    content: "expand_more";
    font-family: 'Material Icons';
    float: right;
    font-size: 24px;
}

details[open] summary:after {
    color: #9e9e9e;
    content: "expand_less";
    font-family: 'Material Icons';
    float: right;
    font-size: 24px;
}

/* this removes the default black arrow. It is replaced with a material design icon */
summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  border: none;
}

details div {
  padding: 0 15px 15px 15px;
}

details ul, details p {
  list-style-position: inside;
  padding: 0px 15px 15px 25px;
  border-bottom: 1px solid #CCC;
}

details ul li {
  margin-bottom: 5px;
}

details span {
  font-weight: bold;
}

/****** PORTFOLIO PAGE ********/
.portfolio.container {
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio.content {
  max-height: 300px;
  overflow: hidden;
}

.portfolio summary:after {
    content: "expand_less";
}

.portfolio details[open] summary:after {
    content: "expand_more";
}

.thumbnail { /* For each thumbnail, the image URL is added in the HTML as style="" */
  height: 250px;
  width: 100%;
  background-size: cover;
  transition: transform .2s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.02);
}

/* CARD DROP SHADOWS incl. hover action */
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white;
    cursor: pointer;
  }
  .card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

/* Media Breaks */
@media screen and (max-width: 730px) {
  .logo {
    font-size: 30px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .column {
    align-items: center;
    width: 100%;
    min-width: 0;
    position: static;
  }
  .button-container {
    margin: 5px;
  }
  .profile {
    position: static;
    margin: 15px;
  }
  .content {
    position: static;
  }
}

@media screen and (max-width: 607px) {
  .container {
    top: 120px;
  }
  .profile, .content {
    position: static;
  }
  .banner {
    justify-content: space-around;
  }
  .logo {
    margin: auto;
  }
}

@media screen and (max-width: 460px) {
  .profile, .content {
    width: 90vw;
  }
  .profile-text-left, .profile-text-right{
    font-size: .95rem;
  }
  .button-container {
    padding: 0px;
  }
  .button {
    font-size: 14px;
    margin: 0 2px;
    width: 25vw;
  }

  .portfolio.content {
    max-height: 400px;
  }
}

@media screen and (max-width: 430px) {
  .profile {
    height: auto;
  }
  .profile-photo {
    display: none;
  }
  .profile-content-container {
    width: auto;
  }
  .profile-text-left, .profile-text-right{
    font-size: 1rem;
  }

}
